/node_modules
/public/hot
/public/storage
/public/build
/storage/app/*
/storage/clockwork/*
/storage/framework/*
/storage/*.key
/vendor
.vapor
.env
.env.backup
.env.dusk
.env.ref
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
coverage
.idea
.php_cs.cache
.php-cs-fixer.cache
.github.vapor/
.env.staging
composer.lock
package-lock.json